USE [master]
GO
/****** Object:  Database [QuironDataBase]    Script Date: 23/10/2016 12:23:56 ******/
CREATE DATABASE [QuironDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuironDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuironDataBase.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuironDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuironDataBase.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuironDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuironDataBase]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 23/10/2016 12:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ProdutoId] [int] NOT NULL,
	[Nome] [nchar](150) NULL,
	[Descricao] [nchar](500) NULL,
	[Categoria] [nchar](50) NULL,
	[Preco] [decimal](16, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
