@model Quiron.LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <h5>@Model.Descricao</h5>
    <h3> <span class="pull-right label label-primary"> @Model.Preco.ToString("c") </span> </h3>
</div>

